*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;

}
header{
    background-color: #f1f1f1;
    color: aqua;
    font-size: 22px;
    padding: 22px;
}
header h2{
    text-align: center;
}   
#app{
    padding: 33px;
}